.main {
    background-image: url(../img/about-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* height: 255px; */
}


.main .title {
    text-align: center;
    padding-block: 120px;
    font-size: 30px;
    color: #309D4E;
    margin: auto;
}

/* 麵包屑 */

.breadcrumb {
    width: 1200px;
    margin: auto;
}

.breadcrumb ul {
    display: flex;
    margin: 15px;
}

.breadcrumb li {
    padding-block: 5px;
}

.breadcrumb ul li:not(:first-child)::before {
    content: "/";
    color: #309D4E;
    margin-left: 8px;
}

.breadcrumb a {
    color: #309D4E;
}

/* 麵包屑end */

/* 關於我們 */

.about {
    margin: auto;
}

.about-wrap {
    width: 1200px;
    margin: auto;

}

.about-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1000px;
    margin-block: 200px;
    padding-inline: 30px;
}

.about-card:nth-child(1) {
    padding-top: 50px;
    margin-top: 80px;
    border-top: 2px solid #CC7A3E;

}

.about-card:nth-child(3) {
    margin-bottom: 100px;
    padding-bottom: 50px;
    border-bottom: 2px solid #CC7A3E;
}

.about-card:nth-child(2) {
    flex-direction: row-reverse;
}


.about .item {
    width: 650px;
}

.about .item img {
    width: 100%;
    vertical-align: top;
    border-radius: 50px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
}

.about .item p {
    padding: 10px;
    line-height: 50px;
}