.main {
    background-image: url(../img/access-pic.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    min-height: 450px;

}

.main .title {
    background-image: url(../img/title-pic.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    opacity: 0.8;
}

.main h1 {
    line-height: 450px;
    color: #0b5c22;
    text-align: center;
}

/* 麵包屑 */

.breadcrumb {
    width: 1200px;
    margin: auto;
}

.breadcrumb ul {
    display: flex;
    margin: 15px;
}

.breadcrumb li {
    padding-block: 5px;
}

.breadcrumb ul li:not(:first-child)::before {
    content: "/";
    color: #2D4E36;
    margin-left: 8px;
}

.breadcrumb a {
    color: #2D4E36;
}

.breadcrumb a:hover {
    color: #dd7335
}

/* 麵包屑end */

/* 關於我們 */

.access {
    width: 1200px;
    margin: auto;

}

.access-warp>h3 {
    margin: auto;
    text-align: center;
    color: #2D4E36;
    margin-top: 50px;
}


.access-warp .forms {
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    padding: 20px;
    border-top: 1px solid #2D4E36;
    border-bottom: 1px solid #2D4E36;
    margin-top: 50px;
}

.access-warp .forms .form-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin: auto;
    justify-content: center;

}

.form-item label {
    margin-block: 20px;
    font-weight: 200;
}

.form-item input {
    width: 600px;
    height: 30px;
    padding: 5px 8px;
    font-size: 16px;

}

.form-item textarea {
    width: 600px;
    height: 150px;
    padding: 5px 8px;
    font-size: 16px;
}

.forms>button {
    width: 80px;
    height: 40px;
    margin: auto;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #2D4E36;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.forms>button:hover {
    background-color: #dd7335;
}

.shop {
    display: flex;
    margin-block: 80px;
    justify-content: center;
    align-items: center;
}

.shop .info {
    margin-right: 50px;

}

.shop .info table {
    margin: 20px;
    text-align: center;

}

.shop .info table tr {
    border-bottom: 1.5px solid #2D4E36;
    line-height: 80px;
}