body {
    font-family: 'Kosugi Maru', sans-serif, 'Noto Sans TC', sans-serif;
    background-color: #f9fbf7;
    line-height: 1.5em;
}

input,
select {
    font-family: 'Kosugi Maru', sans-serif, 'Noto Sans TC', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 30px;
}


h2 {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    color: #333;
}

p {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 16.5%;
    color: #444;
}

li {
    font-weight: 200
}

header {
    /* background: url(../img/ll.png) top center repeat-x; */
    background-color: #2D4E36;
    position: sticky;
    top: 0;
    z-index: 999;
}

.content {
    position: relative;
    margin: auto;
}

.content .logo {
    width: 180px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-block: 10px;
}

.header-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
    padding-right: 10px;
}

.header-group i {
    font-size: 18px;
    margin: 10px;
}


.menu {
    display: flex;
    font-size: 0px;
    justify-content: space-around;
    align-items: end;
    margin-inline: 1%;
}

a {
    text-decoration: none;
}

.menu p {
    font-size: 16px;
    margin-left: 10px;
    color: #fff;
}

.menu .item {
    text-align: center;
    transition: 0.1;
    min-height: 70px;
    display: flex;
    padding-bottom: 10px;
}

.menu .item a {
    display: flex;
    align-items: end;
    padding-bottom: 15px;
    position: relative;
}

.menu .item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.5s ease;
}


.menu .item a:hover::before {
    width: 100%;
}

.menu .item:nth-child(3) {
    margin-right: 100px;
}

.menu .item:nth-child(4) {
    margin-left: 100px;
}

.item:last-child {
    position: relative;
}

.menu img {
    vertical-align: top;
    width: 35px;
    height: 35px;
}

/* footer */

footer {
    background-color: #2D4E36;
}

.footer-area {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {}

.footer-logo img {
    width: 160px;
    height: auto;
    vertical-align: top;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-nav-item {
    display: flex;
}

.footer-nav-item ul a {
    margin: 15px;
    color: #fff;
}

.sns {
    display: flex;

}

.sns ul {
    margin: 5px;
}

.sns img {
    width: 100%;
    vertical-align: top;
}

.tibame {
    background-color: black;
    text-align: center;

}

.tibame p {
    color: #fff;
    padding: 5px;
}