/* 大圖片 */

.news h2,
.dessert h2,
.lineup h2 {

    border-bottom: 2px solid #dd7335;
    color: #dd7335;
    padding-bottom: 10px;
}


a {
    text-decoration: none;
    color: #333;
}

.main {
    height: 680px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.slides {
    width: 500%;
    height: 600px;
    display: flex;

}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    height: 700px;
    width: 100%;
    /* opacity: 0.5; */
}

/* 手動 */
.navigation-manual {
    position: absolute;
    display: flex;
    width: 1200px;
    margin-top: 640px;
    justify-content: center;
    right: 0px;
    left: 0px;
    margin: auto;
    bottom: 20px;

}

.manual-btn {
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px
}

.manual-btn:hover {
    background-color: #dd7335;
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

/* 手動end */

/* 自動 */

.navigation-auto {
    display: flex;
    position: absolute;
    width: 1200px;
    margin-top: 640px;
    justify-content: center;
    right: 0px;
    left: 0px;
    margin: auto;
    bottom: 20px;
}

.navigation-auto div {
    border: 1px solid #dd7335;
    padding: 2.8px;
    border-radius: 10px;
    transition: 1s;
    width: 6px;
    height: 6px;

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #dd7335;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #dd7335;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #dd7335;
}


/* 最新消息 */

.news {
    height: 600px;

}

.news-area {
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    padding-top: 60px;


}

.news-tt {
    margin: 50px;
    margin-top: 20px;

}

.news-list {
    overflow: scroll;
    width: 750px;
    height: 400px;
}

.news-list::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 2px solid #dd7335;
}

.news-list::-webkit-scrollbar-track {
    background-color: #2D4E36;
}

.news-list::-webkit-scrollbar {
    background-color: #2D4E36;
    width: 10px;
    height: 0px;

}


.news-list ul {
    padding: 2px;
    border-top: 1px solid #2D4E36;
    margin-bottom: 5px;
}

.news-list ul:first-child,
ul:last-child {
    border-top: 1.5px solid #2D4E36;
}

.news-list .time {
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.news-list .time span:first-of-type {
    display: inline-block;
    margin-left: 15px;
    color: #ffffff;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
}

.news .important {
    background-color: #e65a5a;

}

.news .event {
    background-color: #8226d8;

}

.news .products {
    background-color: #5fc6ef;

}

.news-list .list-item {
    position: relative;
    padding-bottom: 5px;
    margin: 5px;
    width: 50px;
}

.news-list .list-item p {
    letter-spacing: 16.5%;
}

.news-list .list-item:hover {
    color: #2D4E36;
}

.news-list .list-item:hover p {
    color: #dd7335;
}


.news-list .list-item:hover .arrow {
    transform: translateX(10px);
    background-color: #dd7335;
}

.list-item .arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #2D4E36;
    border-radius: 1000px;
    position: absolute;
    left: 680px;
    top: 50px;
    transition: 0.25s ease;
}

.arrow::before {
    content: "";
    display: block;
    border-right: 2px solid #EBF1D6;
    border-bottom: 2px solid #EBF1D6;
    width: 7px;
    height: 7px;
    transform: rotate(-45deg);
    position: absolute;
    z-index: 999;
    bottom: 6px;
    right: 6.5px;
}

.news-more-area,
.dessert-more-area {
    width: 1000px;
    margin: auto;
    display: flex;
}

.news-more,
.dessert-more,
.maketea-page {
    background-color: #2D4E36;
    padding: 8px;
    width: 120px;
    height: 35px;
    margin-top: 30px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.news-more-area {
    justify-content: end;
}


.news-more:hover,
.dessert-more:hover,
.maketea-page:hover {
    background-color: #dd7335;
    opacity: 0.9;
}

/* 最新消息end */

/* 精選商品 */

.lineup {
    background-color: #2D4E36;
    padding-bottom: 50px;
}

.lineup-area {
    width: 1200px;
    margin: auto;
}

.lineup-tt,
.dessert-tt {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.lineup-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.lineup-pic {
    margin-inline: 60px;
    margin-block: 50px;
    position: relative;


}

.lineup-pic img {
    width: 100%;
    vertical-align: top;
    border-radius: 50px 50px 50px 0px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));

}

.lineup-pic a::after {
    content: "點撃選購";
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 1000px;
    background-color: #dd7335;
    font-size: 22px;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    right: 130px;
    bottom: 45px;
    opacity: 0;
    transition: opacity .7s ease;
}

.lineup span {
    display: block;
    background-color: #dd7335;
    color: #fff;
    font-size: 24px;
    letter-spacing: 2px;
    width: fit-content;
    padding: 10px;
    opacity: 0.9;
    position: absolute;
    bottom: 0.5px;
}


.lineup-pic:hover {
    opacity: 0.8;
}

.lineup-pic:hover a::after {
    opacity: 0.8;
    transition: opacity .5s ease;

}

/* 精選商品結束 */

/* 甜點區 */
.dessert {
    padding-bottom: 50px;
}

.dessert-list {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dessert-pic {
    margin: 20px;
}

.dessert-pic:hover {
    opacity: 0.79;
}

.dessert-pic img {
    vertical-align: top;
    border-radius: 60%;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
}

.dessert-txt {
    text-align: center;
    width: 270px;
    letter-spacing: 16.5%;

}

.dessert-txt h3 {
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 70px;
}

.dessert-txt p {
    line-height: 30px;
    width: 180px;
    margin-left: 70px;
}

.dessert-more-area {
    justify-content: center;
}

.dessert-more a {
    color: #ffffff;
    padding: 5px;
}

/* 甜點結束 */

/* 泡茶 */

.make-tea {
    background-image: url(../img/make-tea.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: left 60% bottom 85%;
    height: 350px;
}

.make-tea-area {
    margin: auto;
    text-align: center;

}

.make-tea-area h2 {
    color: #fff;
    font-size: 30px;
    padding: 30px;
    letter-spacing: 2px;
}

.make-tea-area p {
    color: #fff;
    letter-spacing: 16.5%;
    line-height: 28px;
    margin-top: 10px;
}

.maketea-page {
    margin: auto;
    margin-top: 55px;
}

/* 泡茶結束 */

/* page-top */

.page-top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 25px;
    top: 800px;
}


.page-top img {
    width: 100%;
}