.main {
    background-image: url(../img/header-bg04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    /* height: 255px; */
}


.main .title {
    text-align: center;
    padding-block: 120px;
    font-size: 30px;
    color: #2D4E36;
    margin: auto;
}

/* 麵包屑 */

.breadcrumb {
    width: 1200px;
    margin: auto;
}

.breadcrumb ul {
    display: flex;
    margin: 15px;
}

.breadcrumb li {
    padding-block: 5px;
}

.breadcrumb ul li:not(:first-child)::before {
    content: "/";
    color: #2D4E36;
    margin-left: 8px;
}

.breadcrumb a {
    color: #2D4E36;
}

.breadcrumb a:hover {
    color: #dd7335
}

/* 麵包屑end */

/* 輕鬆泡茶 */



.maketea-wrap {
    width: 1200px;
    margin: auto;
}

.maketea h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    color: #dd7335;
    padding-bottom: 40px;
}

.maketea h4 {
    font-size: 22px;
    margin-bottom: 40px;
    letter-spacing: 6px;
    padding-left: 40px;
    padding-right: 80px;
}

.maketea p {
    color: #fff;
    letter-spacing: 3px;
    padding-top: 20px;
    line-height: 50px;
}

.maketea-list {
    border-top: 1px solid #dd7335;
}

.maketea-item {
    width: 1200px;
    display: flex;
    margin: auto;
    margin-block: 180px;
}

.maketea-item:first-child {
    margin-top: 80px;
}

.maketea-item .pic {
    width: 1200px;
    z-index: 3;

}

.maketea-item .pic img {
    width: 100%;
    vertical-align: top;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.maketea-item .txt-area {
    width: 600px;
    position: relative;
    display: flex;
    justify-content: center;

}

.maketea-item .txt-content {
    color: #fff;
    background-color: #2D4E36;
    padding-top: 60px;
    padding-bottom: 40px;
    writing-mode: vertical-rl;
    margin: auto;
    width: 400px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0px 20px 20px 0px;

}

.txt-content .point {
    color: #ffa75e;
}


.maketea-item .txt-content>span {
    display: block;
    width: 45px;
    border-radius: 50px;
    background: linear-gradient(to top right, #f1ad5e, #dd7335);
    border: 1px solid #fff;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
    text-align: center;
    line-height: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
    writing-mode: horizontal-tb;
}

.maketea-item:nth-child(2n) {
    flex-direction: row-reverse;
}

.maketea-item:nth-child(2n) .txt-content {
    border-radius: 20px 0px 0px 20px;
    writing-mode: vertical-lr;
    margin-right: 0;
}

.maketea-item:nth-child(2n) .txt-content h4 {
    padding-left: 80px;
    padding-right: 40px;
}

.maketea-item:nth-child(2n) .txt-content>span {
    left: 10px;
}

.maketea-item .go-shopping {
    background-color: #dd7335;
    padding: 5px;
    width: 30px;
    height: 120px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 20px;
    margin-top: 40px;
    color: #fff;
    letter-spacing: 3px
}

.maketea-item .go-shopping:hover {
    opacity: 0.9;
    transition: .1s ease;
    color: #2D4E36;
}

/* page-top */

.page-top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 25px;
    top: 800px;
}


.page-top img {
    width: 100%;
}