.main {
    background-image: url(../img/qaz-pic.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    min-height: 450px;

}

.main .title {
    background-image: url(../img/title-pic.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
    opacity: 0.8;
}

.main h1 {
    line-height: 450px;
    color: #0b5c22;
    text-align: center;
}

/* 麵包屑 */

.breadcrumb {
    width: 1200px;
    margin: auto;
}

.breadcrumb ul {
    display: flex;
    margin: 15px;
}

.breadcrumb li {
    padding-block: 5px;
}

.breadcrumb ul li:not(:first-child)::before {
    content: "/";
    color: #2D4E36;
    margin-left: 8px;
}

.breadcrumb a {
    color: #2D4E36;
}

.breadcrumb a:hover {
    color: #dd7335
}

/* 麵包屑end */

/* 常見問題 */

.qaz-wrap {
    width: 1200px;
    margin: auto;
    margin-block: 60px;
    margin-bottom: 100px;
}

.qaz-list {
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

.qaz-title {
    background-color: #2D4E36;
    border-radius: 50px;
    position: relative;
    line-height: 50px;
    padding-left: 20px;
    cursor: pointer;
}

.qaz-title h3 {
    color: #fff;
}

.open-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 40px;
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
}


.qaz-item {
    background-color: #fff;
    border-radius: 30px;
    margin-inline: 10px;
    max-height: 0;
    transition: max-height 0.4s ease;
    overflow: hidden;
}

.qaz-item div {
    padding: 30px;
}

.qaz-item h4 {
    margin-bottom: 20px;
    font-size: 17px;
}

.qaz-item p:first-of-type {
    margin-bottom: 30px;
}